body {
  background-color: black;
}
#splash {
  width: 100%;
  height: 100vh;
}

#home {
  width: 100%;
  height: 100vh;
}

.titulo {
  color: orangered;
  display: block;
  margin-top:20%;
  margin-left: 7%;
  text-align: center;
}

.foodmap {
  color: orangered;
  display: block;
  text-align: center;
}

.texto {
  color: orangered;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#select {
  background-color: rgb(235, 235, 235);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 98%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.photo {
  width: 100%;
  height: 50vh;
 }

 #respuestas {
   color: orangered;
   text-align: center;

 }